include partials/browsers-list

doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name='title' content='Can I browse... in Chrome, Firefox, IE, Edge, Safari or Opera?')
    meta(name='description' content="'Can I browse' provides stats of the most used browsers in all the net.")
    meta(name='keywords' content='Can I browse, Chrome, Firefox, Internet Explorer, Edge, Safari, Opera')
    meta(name='robots' content='index, follow')
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(name='language' content='English')
    meta(name='author' content='Daniel P Z')
    meta(property='og:type' content='website')
    meta(property='og:url' content='http://canibrowse.com/')
    meta(property='og:title' content='Can I browse... in Chrome, Firefox, IE, Edge, Safari or Opera?')
    meta(property='og:description' content="'Can I browse' provides stats of the most used browsers in all the net.")
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content='http://canibrowse.com/')
    meta(property='twitter:title' content='Can I browse... in Chrome, Firefox, IE, Edge, Safari or Opera?')
    meta(property='twitter:description' content="'Can I browse' provides stats of the most used browsers in all the net.")
    title Can I browse... in Chrome, Firefox, IE, Edge, Safari or Opera?
    script(async src='https://www.googletagmanager.com/gtag/js?id=G-E4QFPSG4DV')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-E4QFPSG4DV');
    style.
      body {
        transition: opacity 0.25s ease-in-out;
      }
      .loading {
        opacity: 0;
      }

  body.loading
    section(flex="jc:ce@md ai:ce@md").browsers
      h1.browsers__title Can I browse... in Chrome, Firefox, IE, Edge, Safari or Opera?

      +browsers-list([
        {
          title: 'Google Chrome',
          percentage: chrome.percentage,
          download: 'https://www.google.com/chrome/',
          version: 'Google Chrome v.' + chrome.version,
          browser: 'chrome'
        },
        {
          title: 'Mozilla Firefox',
          percentage: firefox.percentage,
          download: 'https://www.mozilla.org/en-US/firefox/new/',
          version: 'Mozilla firefox v.' + firefox.version,
          browser: 'firefox'
        },
        {
          title: 'Internet Explorer',
          percentage: ie.percentage,
          download: 'https://www.microsoft.com/en-us/download/details.aspx?id=41628',
          version: 'Internet Explorer v.' + ie.version,
          browser: 'iexplorer'
        },
        {
          title: 'Microsoft Edge',
          percentage: edge.percentage,
          download: 'https://www.microsoft.com/en-us/edge',
          version: 'Microsoft Edge v.' + edge.version,
          browser: 'edge'
        },
        {
          title: 'Safari',
          percentage: safari.percentage,
          download: 'https://www.support.apple.com/downloads/safari',
          version: 'Safari v.' + safari.version,
          browser: 'safari'
        },
        {
          title: 'Opera',
          percentage: opera.percentage,
          download: 'https://www.opera.com/download',
          version: 'Opera v.' + opera.version,
          browser: 'opera'
        }
      ])

    link(rel="stylesheet", href="app.css")
    script(src="app.js")
