include partials/browsers-list

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ¿Can I Browser?
  body
    section(flex="jc:ce@md ai:ce@md").browsers
      h1.browsers__title ¿Can I Browser?

      +browsers-list([
        {
          title: 'Google Chrome',
          percentage: '55.8%',
          download: '#',
          version: 'Google Chrome v.123',
          browser: 'chrome'
        },
        {
          title: 'Mozilla Firefox',
          percentage: '55.8%',
          download: '#',
          version: 'Mozilla firefox v.123',
          browser: 'firefox'
        },
        {
          title: 'Internet Explorer',
          percentage: '55.8%',
          download: '#',
          version: 'Internet Explorer v.123',
          browser: 'iexplorer'
        },
        {
          title: 'Microsoft Edge',
          percentage: '55.8%',
          download: '#',
          version: 'Microsoft Edge v.123',
          browser: 'edge'
        },
        {
          title: 'Safari',
          percentage: '55.8%',
          download: '#',
          version: 'Safari v.123',
          browser: 'safari'
        },
        {
          title: 'Opera',
          percentage: '55.8%',
          download: '#',
          version: 'Opera v.123',
          browser: 'opera'
        }
      ])

    link(rel="stylesheet", href="app.css")
    script(src="app.js")
