include partials/browsers-list

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Place the meta description text here.")
    title Can I browse... in Chrome, Firefox, IE, Edge, Safari, Opera
  body
    section(flex="jc:ce@md ai:ce@md").browsers
      h1.browsers__title Can I brownse... in Chrome, Firefox, IE, Edge, Safari, Opera

      +browsers-list([
        {
          title: 'Google Chrome',
          percentage: chrome.percentage,
          download: 'https://www.google.com/chrome/',
          version: 'Google Chrome v.' + chrome.version,
          browser: 'chrome'
        },
        {
          title: 'Mozilla Firefox',
          percentage: firefox.percentage,
          download: 'https://www.mozilla.org/en-US/firefox/new/',
          version: 'Mozilla firefox v.' + firefox.version,
          browser: 'firefox'
        },
        {
          title: 'Internet Explorer',
          percentage: ie.percentage,
          download: 'https://www.microsoft.com/en-us/download/details.aspx?id=41628',
          version: 'Internet Explorer v.' + ie.version,
          browser: 'iexplorer'
        },
        {
          title: 'Microsoft Edge',
          percentage: edge.percentage,
          download: 'https://www.microsoft.com/en-us/edge',
          version: 'Microsoft Edge v.' + edge.version,
          browser: 'edge'
        },
        {
          title: 'Safari',
          percentage: safari.percentage,
          download: 'https://www.support.apple.com/downloads/safari',
          version: 'Safari v.' + safari.version,
          browser: 'safari'
        },
        {
          title: 'Opera',
          percentage: opera.percentage,
          download: 'https://www.opera.com/download',
          version: 'Opera v.' + opera.version,
          browser: 'opera'
        }
      ])

    link(rel="stylesheet", href="app.css")
    script(src="app.js")
